* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-x: hidden;
}

:root {
	--primary: #2A4148;
	--secondary: #4C6265;
	--tertiary: #83B3B9;
	--light: #E1E6E5;
	--dark: #1E1E1E;
	--overlay: rgba(0, 0, 0, 0.4);
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Antic Slab', serif;
	/* font-family: "Open Sans"; */
	color: #fff;
}

h3, h4 {
	font-weight: 600;
}

h1 {
	font-size: 1.7rem;
}

h2 {
	font-size: 1.5rem;
	
}

h3, blockquote {
	font-size: 1.2rem;
	text-align: center;
	text-transform: capitalize;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.7rem;
}

h6 {
	font-size: 0.5rem;
}

section {
	margin: 4rem 0;
}



body > .page-wrapper {
	background-color: #000000;
}


a {
	text-decoration: none;
}

footer {
	background-color: var(--dark);
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--light);
	font-size: 1.2rem;
	padding: 2rem;
}

.footer-container {
	width: calc(100vw - 10%);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.footer-container, .footer-menu, .footer-options, 
.footer-logo {
	text-align: center;
	font-size: 0.8rem;
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
}

.footer-options {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 1.5rem;
}

.footer-menu li {
	font-size: 0.8rem;
	margin-right: 1rem;
}

.lang-change, .social-media, .bottom-footer {
	text-align: center;
	margin-right: 0.5rem;
	padding-top: 1rem;
	padding-right: 1.5rem;
}

.lang-change, lang-change option {
	background-color: var(--dark);
	appearance: none;
	outline: none;
	border: none;
	color: var(--dark);
}


.social-media {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	color: #fff;
}

.social-media li a {
	margin-right: 1rem;
	color: #fff;
	font-size: 1rem;
	transition: 0.3s ease-in;
}

.social-media li a:hover {
	color: var(--primary);
}

.copyright a, .copyright .website {
	font-size: 0.7rem;
	text-align: center;
}

.copyright {
	border: 1px solid blue;
}

.copyright a {
	text-transform: capitalize;	
}
