/* Nav Bar */
.header {
	height: 70px;
	padding: 0 20px;
	background-color: #000000;
}

.logo {
	float: left;
	list-style: none;
	margin: auto 0;
}

.branding {
	line-height: 70px;
	text-transform: uppercase;
	text-weight: bolder;
	font-size: 2rem;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0 0.6rem;
	color: #fff;
}

.menu {
	float: right;
	line-height: 70px;
}

.cell-menu {
	display: none;
}

.show-menu-btn, .hide-menu-btn {
	display: block;
}
	
	.menu {
		position: fixed;
		width: 300px;
		height: 500px;
		background-color: var(--overlay);
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: all 0.3s ease-in;
		z-index: 111;
	}
	
	.menu-link {
		display: block;
		padding: 0.5rem;
		color: var(--light);
		overflow: hidden;
	}
	
	.hide-menu-btn {
		position: absolute;
		top: 40px;
		right: 40px;
		
	}
	
	#chk:checked ~ .menu {
		right: 0;
	}
	

.menu-link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-bottom: 30px;
	padding: 0 10px 5px 10px;
	transition: all 0.4s ease;
	color: #fff;
}

.show-menu-btn, .hide-menu-btn {
	transition: all 0.4s ease-in;
	font-size: 1.7rem;
	cursor: pointer;
	/* display: none;*/
	
}

.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	line-height: 65px;
}

.menu-link:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
	color: var(--secondary);
	transition: all 0.3s ease;
}

#chk {
	position: absolute;
	visibilitiy: hidden;
	z-index: -1111;
}

.page-wrapper {
	padding: 0.5rem;
	background-color: var(--secondary);
}


.martini::before {
	content: '';
	color: var(--tertiary);
}

/* Hero Section */
.section-title {
	display: block;
	margin-bottom: 0.5rem;
}

.section-title h1 {
	display: block;
	margin: 1.5rem 0;
	text-transform: uppercase;
	text-weight: bold;
}

.section-desc {
	display: flex;
	justify-content: center;
	background-color: #000000;
}

.section-desc h2, .section-desc img {
	width: 50%;
	margin: auto;
}

.section-desc h2 {
	flex: 1.5;
	font-size: 1.5rem;
	text-align: center;
}

.section-desc img {
	flex: 1;
	float: right;
	width: 100%;
	height: 500px;
	margin-left: 0.5rem;
	mix-blend-mode: lighten;
}

.btn {
	width: 100px;
	height: 50px;
	outline: none;
	border: none;
	border-radius: 0.3rem;
}

.btn a {
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
}

.btn:hover {
	transition: 0.3s all ease-in;
	opacity: 0.9;
}

.cta-btn {
	position: absolute;
	left: 25%;
	bottom: 23%;
	text-transform: uppercase;
	background-color: var(--tertiary);
	padding: 0.3rem;
	text-decoration: none;
	text-align: center;
}

/* Browse Section */
.s1 {
   width: 100vw;
	margin: 1.5rem 0;
   padding: 2.5rem 0;
}

.s1 .swiper-wrapper .swiper-slide {
   background-position: center;
   background-size: cover;
   width: 300px;
   height: 300px;
}

.s1 .swiper-wrapper .swiper-slide h3 {
	position: absolute;
	bottom: 0;
	text-align: center;
	background: var(--dark);
	
}

/* Ads section */
/* Ad1 Section */
.ads-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3rem auto;
}

.ad-left, .ad-right {
	margin: 0 auto;
}

.ad-left img, .ad-right img {
	width: 400px;
	height: 300px;
	border-radius: 0.6rem;
}

.ad-img {
	clip-path: polygon(18% 100%, 82% 100%, 100% 0, 0 0);
}

.ad-left h3, .ad-right h3 {
	max-width: 10ch;
}

/* About Us Section */
.about-container {
	display: flex;
	margin: 1rem 0;
}

.about-img {
	width: 50%;
	height: 300px;
	border-radius: 0.6rem;
	margin: auto;
}

.about-container img {
	box-shadow: 1rem 1rem 1.5rem var(--tertiary);
}

.about-desc {
	max-width: 35ch;
	margin-left: 1rem;
	margin-right: 0;
	display: flex;
}

.about-desc h3 {
	align-self: center;
	text-align: left;
	line-height: 1.5rem;
	text-indent: 0.5rem;
}

/* Our Team Section */
.our-team-section {
	margin: 1.5rem 0 1.5rem 0;
}

.team-container {
	display: grid;
	grid-template: 400px / repeat(3, 1fr);
}

.team-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 0.5rem;
	border-radius: 0.6rem;
}

.team-member img {
	width: 100%;
	height: 50%;
	border-radius: 0.6rem;
	box-shadow: 10px 10px 5px var(--tertiary);
}

.team-title, .fun-fact {
	margin-top: 1rem;
	padding: 0;
}

/* Reviews Section */
.review-container, review-item {
	display: flex;
	flex-direction: column;
}

.review-wrapper {
	
}

.review-item {
	display: flex;
	height: 100%;
	margin: 0.5rem;
}

.review-item:nth-child(1), .review-item:nth-child(3) {
	align-items: center;
	
}

.review-item:nth-child(2) {
	align-items: flex-start;
	flex-direction: row-reverse;
}

.review-item img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.r1 img, .r3 img {
	float: right;
	margin-right: 0.3rem;
}

.r2 img {
	float: left;
}

.review-item img {
	
}

.quote {
	width: 350px;
	height: 250px;
	padding: 1.5rem;
	margin: 0;
	border-radius: 0.6rem;
	background-color: var(--secondary);
}

.q2 {
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 41% 76%, 11% 97%, 25% 75%, 0% 75%);
}

.q1, .q3 {
	margin: 0 1rem 0 1.5rem;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 100% 90%, 50% 75%, 0% 75%);
}

.quote blockquote {
	text-align: center;
	margin: auto;
	max-width: 15ch;
}

.quote h3 {
	margin-top: 0.3rem;
	text-align: right;
}

.s2 {
   width: 300px;
   height: 300px;
	margin: auto;
}

.s2 .swiper-slide {
	background-position: center;
   background-size: cover;
}


.s2 .s2-pagination {
	background-color: var(--tertiary);
}

/* Contact Section */
/* Contact Form */
.contact-section {
	display: flex;
	width: 90%;
	margin-right: 0;
	border: 1px sold green;
}

.contact-form, .newsletter {
	border: 1px sold green;
}

.contact-form {
	display: flex;
	height: 400px;
	flex-direction: column;
	color: #fff;
	margin: 0;
	padding: 0.7rem;
	border-radius: 0.3rem;
	font-size: 1.3rem;
}

.contact-form label {
	margin-bottom: 0.5rem;
}

.contact-form input {
	margin-bottom: 1rem;
}

input[type=text] {
	padding: 0.6rem;
	width: 100%;
	height: 30px;
	background-color: #f4f4f4;
	outline: none;
	border: none;
	border-radius: 0.2rem;
}

textarea {
	height: 100px;
	margin: 0.5rem 0 1rem 0;
	outline: none;
	border: none;
	padding: 0.5rem;
}

textarea[type=text] {
	padding-left: 1.3rem;
	font-size: 1.7rem;
}

input:hover, textarea:hover {
	border-bottom: 0.3rem solid var(--tertiary);
}

.send-btn {
	display: block;
	width: 70%;
	margin: auto;
	text-align: center;
	color: #fff;
	padding-right: 0.3rem;
	border: 1px solid #fff;
}

.send-btn:hover {
	background-color: #fff;
	color: #000;
}

.contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: auto;	
}

.contact-info h3 {
	text-align: center;
}

/* NewsLetter */
.newsletter {
	margin-top: 1rem;
	margin-left: 1rem;
}

.contact {
	display: flex;
	justify-content: center;
}

.contact-title {
	margin: auto;
}

.main-text, .newsletter-btn {
	margin-right: 0.5rem;
}

.email {
	margin-right: 0.3rem;
}

.contact label {
	margin-right: 0.3rem;
}

.contact input {
	border: none;
	outline: none;
}

.contact input[type=text] {
	width: 250px;
	height: 30px;
	padding: 0.5rem;
	background-color: #f4f4f4;
}

.contact input[type=text]:hover {
	border-bottom: 1px solid var(--tertiary);
}

.newsletter-btn {
	width: 50px;
	height: 30px;
	padding: 0.3rem;
	background-color: var(--tertiary);
	margin-left: 0.3rem;
}

.newsletter-btn a {
	color: #fff;
}

.back-to-top {
	display: block;
	width: 100%;
	height: 50px;
	background: var(--primary);
	cursor: pointer;
	color: #fff;
	padding-top: 15px;
	text-align: center;
	text-transform: uppercase;
}

/* Media Queries */
@media screen and (max-width:800px) {
	/* Cell Menu */
	.cell-menu {
		display: flex;
		justify-content: space-evenly;
		position: fixed;
		bottom: 0;
		width: 100vw;
		height: 80px;
		background-color: var(--dark);
		transition: 0.3 ease;
		z-index: 999;
	}
	
	.cell-menu a {
		text-decoration: none;
		color: var(--light);
		margin: auto;
		text-align: center;
		font-size: 0.7rem;
	}
	
	.section-title h1 {
		margin: 1rem 0;
		text-align: center;
	}
	
	/* Hero Section */
	.section-desc img {
		width: 100%;
		height: 500px;
		margin: 0;
	}

	.cta-btn {
		position: static;
		margin: 3rem auto;
	}
	
	/* Browse */
	.s1 {
   width: 90vw;
	margin: 1.5rem 0;
   padding: 2.5rem 0;
	}

.s1 .swiper-wrapper .swiper-slide {
   background-position: center;
   background-size: cover;
   width: 250px;
   height: 250px;
	}

.s1 .swiper-wrapper .swiper-slide h3 {
	position: absolute;
	bottom: 0;
	text-align: center;
	background: var(--dark);
	
	}
	
	.section-desc, .ads-section, .about-container, .about-desc, .review-item, .contact-section {
		flex-direction: column;	
	}
	
	/* Our Purpose */
	
	
	/* About Section */
	.about-desc {
		flex-direction: column;
		max-width: 40ch;
	}

	.team-container {
		grid-auto-rows: 1fr 1fr 1fr;
	}
	
	/* Testimonals */
	.quote {
		position: relative;
	}
	
	.q1, .q2 {
		top: 0;
		left: 50px;
	}
	
	.q3 {
		top: 200px;
	}
	
	/* Contact Section */
	.contact-section {
		flex-direction: column;
		margin-right: 0;
	}
}

@media screen and (max-width:600px) {
	
	.s1 .swiper-wrapper .swiper-slide {
   width: 100px;
   height: 100px;
	}

	
	.cta-btn {
		bottom: 15%;
	}
}
